@use "variables" as *;
@use "mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kaftan-Trial";
  src: url(/Passion-Projects/YogiJourney/assets/kaftan-trial.otf);
}

@font-face {
  font-family: "Arsenica-Trial";
  src: url(/Passion-Projects/YogiJourney/assets/ArsenicaTrial-Regular.ttf);
}

body {
  background-color: $ash-grey;
}

h1 {
  font-size: 70px;
  color: $mauve-shadow;
  @include header-style;
  @include center;
  margin-bottom: 0.5rem;
}

h2 {
  color: $ebony;
  @include header-style;
  @include center;
  margin-bottom: 1rem;
}

.header {
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/Passion-Projects/YogiJourney/assets/Yogi-Journey-images/58F247E1-4C03-4DD3-B90C-43C58FCB98F3_1_102_o.jpeg");
  background-size: cover;
  background-position: center;

  opacity: 0.3;

  z-index: 0;
}

nav {
  font-family: "Arsenica-Trial";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;

  a {
    color: rgb(40, 39, 39);
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0.5rem;
}

.header-img {
  @include header-img;
}

.img-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 1s ease;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section {
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-style: italic;
  color: rgb(44, 43, 43);
  letter-spacing: 1px;
}

.journal-section,
.input-section {
  @include centeredColumnSection;
  width: 100%;
}

#current-date,
#journal-title,
#journal-content {
  width: 60%;
  height: auto;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding: 0.5rem;
}

#current-date::placeholder,
#journal-title::placeholder,
#journal-content::placeholder {
  color: $priorFontColor;
}

#saveJournalBtn {
  @include submitButton;
  transform: background-color 0.15s ease;
}

#saveJournalBtn:hover {
  opacity: 0.8;
  transition: transform 0.15s ease;
}

#saveJournalBtn:active {
  background-color: $priorFontColor;
  color: white;
  transition: transform 0.15s ease;
}
